<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <link rel="stylesheet" href="./styles.css" />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"
      integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <title>Olimp.Hack!</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <h1 class="h1">
      Выгодные ставки с фрибетом 10500Р на данный момент (olimp.bet) (не билайн)
    </h1>
    <div id="app">
      <div v-if="!isLoading" class="container">
        <div class="table">
          <div class="row header">
            <div>Турнир</div>
            <div>Команды</div>
            <div>П1</div>
            <div>П2</div>
            <div>ТМ</div>
            <div>ТБ</div>
            <div>Дата</div>
          </div>

          <div v-for="item in results" class="row">
            <div>{{ item.competitionName }}</div>
            <div>{{ item.name }}</div>

            <div>
              <div>{{ item.results.p?.kef1 || "X" }}</div>
              <div>{{ item.results.p?.sum1 || "X" }}</div>
              <div
                :class="{
                result: item.results.p?.result1
              }"
              >
                {{ item.results.p?.result1 || "X" }}
              </div>
            </div>

            <div>
              <div>{{ item.results.p?.kef2|| "X" }}</div>
              <div>{{ item.results.p?.sum2|| "X" }}</div>
              <div
                :class="{
                result: item.results.p?.result2
              }"
              >
                {{ item.results.p?.result2|| "X" }}
              </div>
            </div>

            <div>
              <div>{{ item.results.t?.kef1 || "X"}}</div>
              <div>{{ item.results.t?.sum1|| "X" }}</div>
              <div
                :class="{
                result: item.results.t?.result1
              }"
              >
                {{ item.results.t?.result1|| "X" }}
              </div>
            </div>

            <div>
              <div>{{ item.results.t?.kef2|| "X" }}</div>
              <div>{{ item.results.t?.sum2|| "X" }}</div>
              <div
                :class="{
                result: item.results.t?.result2
              }"
              >
                {{ item.results.t?.result2 || "X"}}
              </div>
            </div>

            <div>{{ item.date }}</div>
          </div>
        </div>
      </div>

      <div v-if="isLoading">
        <h2>Loading...</h2>
      </div>
    </div>

    <footer class="footer">
      <!-- <p>
        ЗВЕРЯНЕТСИЛЬНЕЕМУХИСТАРЫЙБОГСЫНИЩЕШЛЮХИЗВЕРЯНЕТСИЛЬНЕЕПТИЧКИСТАРЫЙБОГСЛОМАЛЯИЧКИ
      </p> -->
      <marquee scrollamount="15">
        <h1>
          ЗВЕРЯНЕТСИЛЬНЕЕМУХИСТАРЫЙБОГСЫНИЩЕШЛЮХИЗВЕРЯНЕТСИЛЬНЕЕПТИЧКИСТАРЫЙБОГСЛОМАЛЯИЧКИЗверянетсильнейдраконастарыйбогупалсбалконаСтарыйбогпопилводичкиотвалилисьвсеяичкиЗВЕРЯНЕТСИЛЬНЕЙКИТАЙЦАСТАРЫЙБОГСОСИНАМЯЙЦАдуетветерпеременстарыйбогсосётвамчлен
        </h1></marquee
      >
    </footer>
  </body>

  <script>
    const { createApp, ref, onMounted } = Vue;
    const HUITA_1 =
      "https://www.olimp.bet/api/v4/0/line/sports-with-categories-with-competitions?vids%5B%5D=";

    createApp({
      setup() {
        const message = ref("Hello vue!");
        const results = ref([]);
        const isLoading = ref(true);

        onMounted(async () => {
          const data = await getData();

          results.value = data.map((item) => ({
            ...item,
            date: new Date(item.date).toLocaleDateString(),
          }));
          isLoading.value = false;

          console.log([...results.value]);
        });

        return {
          message,
          results,
          isLoading,
        };
      },
    }).mount("#app");

    function calc(kef1, kef2, target = 23700) {
      if (kef1 == 0 || kef2 == 0 || kef1 > 2 || kef2 > 2) {
        return;
      }

      let sum1, sum2, result1, result2;

      if (kef1 > kef2) {
        sum1 = (target + 10500) / kef1;
        sum2 = target / kef2;
      } else {
        sum1 = target / kef1;
        sum2 = (target + 10500) / kef2;
      }

      while (sum1 + sum2 > 30500) {
        if (kef1 > kef2) {
          sum1 = Math.round((target + 10500) / kef1);
          sum2 = Math.round(target / kef2);
        } else {
          sum1 = Math.round(target / kef1);
          sum2 = Math.round((target + 10500) / kef2);
        }
        target -= 1;
      }

      if (kef1 > kef2) {
        result1 = Math.round(sum1 * kef1 - 10500);
        result2 = Math.round(sum2 * kef2);
      } else {
        result1 = Math.round(sum1 * kef1);
        result2 = Math.round(sum2 * kef2 - 10500);
      }

      if (result1 < 23150) {
        return false;
      }

      return {
        sum1,
        sum2,
        result1,
        result2,
        kef1,
        kef2,
      };
      return true;
    }

    async function getData() {
      const { data } = await axios.get(HUITA_1);

      const result = [];

      let a = null;

      data.forEach(({ payload }) => {
        const asd = payload.categoriesWithCompetitions.find(
          ({ name }) => name === "CS2"
        );

        if (asd) {
          a = asd;
        }
      });

      const ids = a?.competitions.map(({ id }) => id) || [];

      const promises = await Promise.all(
        ids.map(async (id) => {
          const a = `https://www.olimp.bet/api/v4/0/line/competitions-with-events?vids%5B%5D=${id}%3A`;
          return axios.get(a);
        })
      );

      for await (const promise of promises) {
        const { data } = await promise;

        data.forEach(({ payload }) => {
          payload.events.forEach(({ outcomes, competitionName, name }) => {
            const P1 = Number(
              outcomes.find(({ shortName }) => shortName === "П1")
                ?.probability || 0
            );
            const P2 = Number(
              outcomes.find(({ shortName }) => shortName === "П2")
                ?.probability || 0
            );
            const TotM = Number(
              outcomes.find(({ shortName }) => shortName === "ТотМ")
                ?.probability || 0
            );
            const TotB = Number(
              outcomes.find(({ shortName }) => shortName === "ТотБ")
                ?.probability || 0
            );

            const results = {
              p: calc(P1, P2 || null),
              t: calc(TotM, TotB || null),
            };

            if (results.p || results.t) {
              result.push({
                competitionName,
                name,
                P1,
                P2,
                TotM,
                TotB,
                date: payload.competition.startDateTime,
                results,
              });
            }
          });
        });
      }

      return result;
    }
  </script>
</html>
