* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column; /* Вертикальное расположение */
  min-height: 100vh; /* Минимальная высота экрана */
  margin: 0; /* Убираем отступы */
}

#app {
  padding: 20px 0;
  min-height: calc(100dvh - 80px - 77px);
}

.container {
  width: 80%;
  margin: auto;
  background: #3f3f3f;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1; /* Контейнер занимает оставшееся пространство */
  display: flex;
  justify-content: center; /* Центрирование таблицы по горизонтали */
  align-items: center; /* Центрирование таблицы по вертикали */
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px;
  overflow: hidden;
}

.row {
  display: flex;

  &:nth-child(odd) {
    background-color: #333232; /* Цвет фона для нечетных строк */
  }
}

.row.header {
  background-color: #333232;
  font-weight: bold;
}

.row > div {
  flex: 1;
  text-align: center;
  border-right: 1px solid rgb(255, 200, 0); /* Светло-серая граница */
  border-bottom: 1px solid rgb(255, 200, 0); /* Светло-серая граница снизу */
  padding: 10px; /* Отступы внутри ячеек */
}

.row > div:last-child {
  border-right: none; /* Убираем правую границу для последнего элемента */
}

.row > div > div {
  color: #000;
  background-color: rgb(255, 200, 0); /* Цвет фона для вложенных ячеек */
  margin-bottom: 4px; /* Отступ между вложенными ячейками */
  padding: 5px; /* Отступы внутри вложенной ячейки */
  border-radius: 4px; /* Скругленные углы для вложенной ячейки */
}

.row > div > div:last-child {
  margin-bottom: 0; /* Убираем нижний отступ у последней вложенной ячейки */
}

/* Выравнивание чисел по правому краю */
.row > div > div {
  text-align: right; /* Выравнивание по правому краю */
  font-weight: bold; /* Жирный шрифт для акцента */
}

/* Общая выравнивание текста по центру для всех ячеек */
.row > div {
  align-items: center; /* Центрирование элементов по вертикали */
}

.footer {
  height: 80px;
  background-color: #000; /* Черный цвет фона */
  color: #fff; /* Цвет текста - белый */
  padding: 15px; /* Отступы сверху и снизу */
  text-align: center; /* Выравнивание текста по левому краю */
  width: 100%; /* Занимает всю ширину */
  padding-left: 20px; /* Отступ слева */
  box-sizing: border-box; /* Учитываем отступы в ширину */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  color: #ffffff; /* Цвет ссылок - золотой */
  text-decoration: none; /* Убираем подчеркивание */
}

.footer a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

h2 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  text-align: center;
  color: #000000;

  animation: anim 0.5s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
    color: purple;
  }
  50% {
    transform: rotate(180deg);
    color: yellow;
  }
  100% {
    transform: rotate(360deg);
    color: blue;
  }
}

@keyframes animresult {
  0% {
    color: rgb(200, 0, 255);
  }
  25% {
    color: rgb(150, 0, 255);
  }
  50% {
    color: rgb(0, 0, 0);
  }
  75% {
    color: rgb(150, 0, 255);
  }
  100% {
    color: rgb(200, 0, 255);
  }
}

.result {
  animation: animresult 3s linear infinite;
}

h1 {
  font-style: italic;
  text-transform: uppercase;
}

.h1 {
  text-transform: none;
  font-style: normal;
  text-align: center;
  color: #000000;
  background-color: rgb(255, 200, 0); /* Фиолетовый фон */
  padding: 20px;
  margin: 0;
  border-radius: 0 0 0 0; /* Скругление углов заголовка */
}
